<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="localhost"/>
    <add key="port" value="3306"/>
    <add key="user" value="root"/>
    <add key="password" value="root"/>
    <add key="database" value="agenda"/>
    <add key="mysqlVer" value="8.2.0-mysql"/>
  </appSettings>
</configuration>